.input {
  color: #66FF66;
  font-size: 20px;
  background-color: transparent;
  outline: none;
  /* width: 100%; */
  box-sizing: border-box;
}

.input:focus {
}

.p {
  color: #66FF66;
  font-size: 20px;
}
.span {
  color: #FFB000;
  font-size: 20px;
}
